*{
   margin: 0;
   padding: 0;
   box-sizing: border-box; 
}

:root { 
    font-size: 62.5%;

    --color-body: #E1E1E6; 

    --color-nav-a: #C4C4CC;
    --color-nav-a-hover: #FFFFFF;

    --color-button: #FFFFFF;
    --color-button-a: #FFFFFF;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.8rem;
    font-weight: 400;

    color: var(--color-body);
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    margin: 5rem 2.6rem;
}

nav a {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: var(--color-nav-a);

    font-size: 1.6rem;
    font-weight: 400;
}

nav a:hover {
    color: var(--color-nav-a-hover);
    font-weight: bolder;
}

nav a:focus {
    color: var(--color-nav-a-hover);
    font-weight: bolder;
}

svg {
    height: 2.3rem;
}

ul {
    display: flex;
    gap: 3.2rem;
}

li {
    list-style: none;
}

button {
    text-decoration: none;
    font-size: 1.4rem;
    line-height: 2.4rem;
    align-items: center;
    box-shadow: 0.5rem 0.6rem 0.8rem rgba(0, 0, 0, 0.6);

    color: var(--color-button);
    background-color: transparent;
    border: 2px solid #FFFFFF;
    border-radius: 5px;

    width: 19.5rem;
    height: 4.8rem;

    margin: 5rem 10rem;
}

button a {
    text-decoration: none;
    color: var(--color-button-a);
    text-shadow: 0.1rem 0.4rem 0.6rem rgba(0, 0, 0, 0.6);
}

.home {
    background: url(./assets/mountains-universe.png) no-repeat center fixed;
    background-size: cover;
}

.home h1 {
    font-size: 3.2rem;
    font-weight: 700;
    text-align: start;

    margin: 14rem 0 0 0;
    text-shadow: 0.5rem 0.6rem 0.8rem rgba(0, 0, 0, 0.6);
}

.universe {
    background: url(./assets/mountains-universe2.png) no-repeat center fixed;
    background-size: cover;
}

.universe h1 {
    font-size: 3.2rem;
    font-weight: 700;
    text-align: start;

    margin: 6.5rem 0 0 6rem;
    text-shadow: 0.5rem 0.6rem 0.8rem rgba(0, 0, 0, 0.6);
}

.universe p {
    font-size: 1.6rem;
    line-height: 2.6rem;
    text-align: start;

    margin: 2rem 3.5rem 0 6rem;
    text-shadow: 0.1rem 0.6rem 0.9rem rgba(0, 0, 0, 0.6);
}

.exploration {
    background: url(./assets/mountains-universe-3.png) no-repeat center fixed;
    background-size: cover;
}

.exploration h1 {
    font-size: 3.2rem;
    font-weight: 700;
    text-align: start;

    margin: 5.5rem 0 0 6rem;
    text-shadow: 0.5rem 0.6rem 0.8rem rgba(0, 0, 0, 0.6);
}

.exploration p {
    font-size: 1.6rem;
    line-height: 2.4rem;
    text-align: start;

    margin: 2rem 3.2rem 0 6rem;
    text-shadow: 0.1rem 0.6rem 0.9rem rgba(0, 0, 0, 0.6);
}

@media (min-width: 768px) {
    nav {
        justify-content: flex-start;
        margin: 5rem 10rem;
        gap: 3.2rem;
    }

    nav a {
        font-size: 2rem;
    }

    svg {
        height: 4.2rem;
    }

    .home h1 {
        font-size: 4.8rem;
        text-align: center;
        margin: 18rem 0 0 6rem;
    }

    .home button {  
        margin: 5rem 0 0 62rem;
        font-weight: 700;
    }

    .universe h1 {
        font-size: 4.8rem;
        margin: 9rem 0 0 12rem;
    }

    .universe p {
        font-size: 1.8rem;
        line-height: 2.6rem;

        margin: 2.5rem 54rem 0 12rem;
    }

    .exploration h1 {
        font-size: 4.8rem;
        margin: 9rem 0 0 12rem;
    }

    .exploration p {
        font-size: 1.8rem;
        line-height: 2.6rem;

        margin: 2.5rem 58rem 0 12rem;
    }
}

@media (min-width: 1380px) {
    nav {
        margin: 6rem 15rem;
        gap: 4.8rem;
    }

    .home h1 {
        font-size: 5.6rem;
        margin: 14rem 0 0 6rem;
    }

    .home button {  
        margin: 5rem 0 0 78rem;
    }

    .universe h1 {
        font-size: 5.6rem;
        margin: 9rem 0 0 17rem;
    }

    .universe p {
        font-size: 2.0rem;
        line-height: 2.8rem;

        margin: 2rem 75rem 0 17rem;
    }

    .exploration h1 {
        font-size: 5.6rem;
        margin: 9rem 0 0 17rem;
    }

    .exploration p {
        font-size: 2.0rem;
        line-height: 2.8rem;

        margin: 2rem 73.5rem 0 17rem;
    }
}